---
interface Props {
	title: string;
	description?: string;
  preloadImage?: string;
}

import '../styles/global.css';
import '@fontsource/plus-jakarta-sans/400.css';
import '@fontsource/plus-jakarta-sans/500.css';
import '@fontsource/plus-jakarta-sans/600.css';
import '@fontsource/plus-jakarta-sans/700.css';
import '@fontsource/plus-jakarta-sans/800.css';

const { title, description = "Berita Terkini dan Terpercaya", preloadImage } = Astro.props;
---

<!doctype html>
<html lang="id">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    {preloadImage && <link rel="preload" as="image" href={preloadImage} fetchpriority="high" />}
		<title>{title}</title>
	</head>
	<body class="bg-gray-50 text-gray-900 font-sans antialiased selection:bg-blue-600 selection:text-white">
		<slot />
	</body>
</html>

<style is:global>
  :root {
    --font-sans: 'Plus Jakarta Sans', sans-serif;
  }
  body {
    font-family: var(--font-sans);
  }
</style>
